STAGING_HTTPS_PORT=8443
STAGING_MAILPIT_PORT=58025
STAGING_WEB_HOST=staging.127.0.0.1.nip.io
STAGING_API_HOST=api.staging.127.0.0.1.nip.io
STAGING_STORAGE_HOST=storage.staging.127.0.0.1.nip.io
STAGING_WEB_ORIGIN=https://staging.127.0.0.1.nip.io:8443
STAGING_API_ORIGIN=https://api.staging.127.0.0.1.nip.io:8443
STAGING_STORAGE_ORIGIN=https://storage.staging.127.0.0.1.nip.io:8443
STAGING_COOKIE_DOMAIN=staging.127.0.0.1.nip.io
POSTGRES_DB=aperture_staging
POSTGRES_USER=aperture_staging
POSTGRES_PASSWORD=CHANGE_ME
MINIO_ROOT_USER=aperture_staging
MINIO_ROOT_PASSWORD=CHANGE_ME
S3_BUCKET=aperture-staging-media
SESSION_SECRET=CHANGE_ME
GEO_ASSERTION_SECRET=CHANGE_ME_AT_LEAST_32_RANDOM_CHARACTERS
SMTP_USERNAME=aperture-staging
SMTP_PASSWORD=CHANGE_ME
SMTP_FROM_EMAIL=no-reply@staging.127.0.0.1.nip.io
ERROR_TRACKING_DSN=
METRICS_BEARER_TOKEN=CHANGE_ME
